html,
body {
  font: 14px/1.4em 'Arial';
  margin: 0;
  padding: 0;
  text-align: center;
}

#new-todo {
  width: 480px;
  height: 40px;
  padding-left:10px;
  margin-left: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  overflow: hidden;
  border: 2px solid #9A7;
}

#main {
  font-family: Impact;
  background: #777;
  text-align: center;
}

.hidden {
    display: none;
}
